# Domain name for email
export DOMAIN_NAME=pulsar.pub

# Show exceptions and tracebacks on errors
# 1: show
# 0: don't show
export DEBUG=1

# Set localhost on settings instead of domain name
# 1: set localhost
# 0: set production domain name
export LOCALDEV=1

# Used by Django to encrypt session login cookies
export SECRET_KEY=

# Use SQLite instead of PostgreSQL
# 1: use SQLITE
# 0 or any other value: use PostgreSQL
export SQLITE=0

# PostgreSQL database connection string
export DATABASE_URL=postgres://pulsar:@localhost:5432/pulsar

# Email
export EMAIL_HOST=
export EMAIL_HOST_USER=
export EMAIL_HOST_PASSWORD=
# ADMINS needs a JSON array in a string, eg.
# export ADMINS='[["Alice","alice@example.com"], ["Bob","bob@example.com"]]'
export ADMINS=

# Stripe (optional)
export STRIPE_PUBLISHABLE_KEY=
export STRIPE_SECRET_KEY=
export STRIPE_WEBHOOK_SECRET=
export STRIPE_PRICE_ID=
