{% extends 'main/layout.html' %}

{% block title %}log in for dukkha{% endblock %}

{% block content %}
<main>
    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert">
                Your account doesn't have access to this page. To proceed please login
                with an account that has access.
            </p>
        {% endif %}
    {% endif %}

    <h1>log in</h1>

    <form method="post">
        {{ form.non_field_errors }}

        <p>
            <label for="id_username">{{ form.username.label|lower }}</label>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.username }}
            <span class="helptext">this is your website subdomain</span>
        </p>

        <p>
            <label for="id_password">{{ form.password.label|lower }}</label>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.password }}
            <span class="helptext">{{ form.password.help_text }}</span>
        </p>

        {% csrf_token %}

        <input type="submit" value="login">
    </form>

    <p>
        <a href="{% url 'password_reset' %}">did you forget your password?</a>
    </p>
</main>
{% endblock content %}
