{% extends 'main/layout.html' %}

{% block title %}dashboard — pulsar.pub{% endblock %}

{% block content %}
<main>
    <h1>dashboard</h1>

    <div style="margin: 16px 0; line-height: 1.6;">
        <a href="{% url 'page_create' %}">new page</a>
        <br><a href="{% url 'homepage_update' %}">edit home page</a>

        {% if page_list %}
        <br>

        <br><strong>pages:</strong>
        {% for page in page_list %}
        <br><a href="{{ blog_url }}{% url 'page_detail' page.slug %}">
            {{ page.title }}
            —
            <small><code>/{{ page.slug }}</code></small>
        </a>
        {% endfor %}

        <br>
        {% endif %}

        <br><a href="{% url 'css_update' %}">css</a>
        <br><a href="{% url 'image_list' %}">images</a>
        {% if subscription_enabled %}
        <br><a href="{% url 'subscription_index' %}">subscription</a>
        {% endif %}
        <br><a href="{% url 'user_update' %}">settings</a>
        <br><a href="{% url 'landing' %}">landing</a>
        <br><form method="post" action="{% url 'logout' %}" class="form-inline">
            {% csrf_token %}
            <input type="submit" value="log out">
        </form>
    </div>
</main>
{% endblock content %}
