{% extends 'main/layout.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}

{% if account_user.show_nav %}
{% include 'partials/nav.html' %}
{% endif %}

<main>
    <h1>Edit home page</h1>

    <form method="post">
        {% if form.homepage.errors %}
            {% for error in form.homepage.errors %}
                <span class="form-error">{{ error|escape }}</span><br>
            {% endfor %}
        {% endif %}
        <textarea name="homepage" id="id_homepage" cols="60" rows="10" style="min-height: 200px; height: calc(100vh - 450px);">{{ form.homepage.value }}</textarea>

        {% csrf_token %}
        <input type="submit" value="save" style="margin-top: 16px;">
    </form>
</main>

{% endblock content %}
