{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1>dukkha.pub</h1>

    <h2>overview</h2>
    <ul>
        <li>publishing platform with few features</li>
        <li>make simple websites without too much suffering</li>
    </ul>

    <h2>features</h2>
    <ul>
        <li>pages</li>
        <li>images</li>
        <li>custom CSS</li>
        <li>custom domain</li>
    </ul>

    <h2>non-features</h2>
    <ul>
        <li>ads</li>
        <li>javascript</li>
    </ul>

    <h2>pricing</h2>
    <ul>
        <li>$19/year</li>
        <li>price for new users will go up occasionally</li>
        <li>price for existing users will always remain the same</li>
    </ul>

    <h2>vibes</h2>
    <ul>
        <li><a href="https://github.com/dukkhapub/dukkha">open source forever</a></li>
        <li>no tracking</li>
        <li>no sharing data with others</li>
        <li>no cookies except for login</li>
        <li>gratitude</li>
    </ul>
</main>
{% endblock content %}
