{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1>
        <a href="/" style="color: black;">pulsar.pub</a>
    </h1>
    <p>
        create simple websites fast
    </p>

    <h2>overview</h2>
    <ul>
        <li>pulsar is a simple publishing platform for the web</li>
        <li>write content in plain text or <a href="{% url 'markdown' %}">markdown</a> (simple formatting language)</li>
        <li>publish in subdomain.pulsar.pub or yourdomain.com</li>
    </ul>

    <h2>features</h2>
    <ul>
        <li>pages</li>
        <li>images</li>
        <li>custom CSS</li>
        <li>custom domains</li>
        <li>no ads</li>
    </ul>

    <h2>pricing</h2>
    <ul>
        <li>$19/year</li>
    </ul>

    <h2>vibes</h2>
    <ul>
        <li><a href="https://github.com/sirodoht/pulsarpub">open source</a></li>
        <li>affero GPL license</li>
        <li>no tracking</li>
        <li>no sharing data with third-parties</li>
        <li>no cookies except for login</li>
    </ul>

    <h2>news</h2>
    <ul>
        <li>15 june 2025: first public release, soft launch</li>
    </ul>
</main>
{% endblock content %}
