{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1>
        <a href="/" style="color: black;">dukkha.pub</a>
    </h1>
    <p>
        create simple websites fast
    </p>

    <h2>overview</h2>
    <ul>
        <li>dukkha is simple publishing platform for the web</li>
        <li>write content in markdown</li>
        <li>publish in subdomain.dukkha.pub or yourdomain.com</li>
    </ul>

    <h2>features</h2>
    <ul>
        <li>pages</li>
        <li>images</li>
        <li>custom CSS</li>
        <li>custom domains</li>
        <li>no ads</li>
    </ul>

    <h2>pricing</h2>
    <ul>
        <li>$19/year</li>
        <li>price for new users will go up occasionally</li>
        <li>price for existing users will always remain the same</li>
    </ul>

    <h2>vibes</h2>
    <ul>
        <li><a href="https://github.com/dukkhapub/dukkha">open source forever</a></li>
        <li>no tracking</li>
        <li>no sharing data with third-parties</li>
        <li>no cookies except for login</li>
    </ul>
</main>
{% endblock content %}
