{% extends 'main/layout.html' %}

{% block title %}Onboarding{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock head_viewport %}

{% block content %}

{% include 'partials/nav.html' %}

<main>
    <h1>add home page content</h1>

    <p>
        Great! Now, let's add some content for the home page.
    </p>
    <p>
        Start with something small. One sentence is enough.
    </p>
    <p>
        What is this website about?
    </p>

    <form method="post">
        {% if form.homepage.errors %}
            {% for error in form.homepage.errors %}
                <span class="form-error">{{ error|escape }}</span><br>
            {% endfor %}
        {% endif %}
        <textarea name="homepage" id="id_homepage" cols="60" rows="10"># {{ request.user.username }}

Hi there! This website is about...
</textarea>
        {% csrf_token %}
        <input type="submit" value="save & continue" style="margin-top: 16px;">
    </form>
</main>

{% endblock content %}
