{% extends "main/layout.html" %}

{% block title %}Subscription Dashboard - pulsar.pub{% endblock %}

{% block content %}
<main>
    <h1>subscription</h1>

    {% if request.user.is_premium %}
        <div>
            {% if request.user.subscription_is_canceled %}
                <p>subscription has been canceled</p>
                <p>your premium access will end on {{ request.user.subscription_end_date|date:"M d, Y" }}</p>
            {% else %}
                <p>currently on premium plan</p>
                {% if request.user.subscription_end_date %}
                    <p>plan auto-renews on {{ request.user.subscription_end_date|date:"M d, Y" }}</p>
                {% endif %}

                <a href="{% url 'subscription_cancel' %}">
                    cancel subscription
                </a>
            {% endif %}
        </div>
    {% else %}
        <div>
            <p>
                a subscription is required to use pulsar.pub
            </p>

            {% if not request.user.is_premium %}
                <p>
                    you have {{ user.trial_days_left }} days left in your trial
                </p>
            {% endif %}

            <form action="{% url 'create_checkout_session' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="subscribe to premium">
            </form>
        </div>
    {% endif %}
</main>
{% endblock content %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock scripts %}
