{% extends 'main/layout.html' %}

{% block title %}Settings — pulsar.pub{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock head_viewport %}

{% block content %}
<main>
    <h1>settings</h1>

    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="save">
    </form>

    <p>
        <a href="{% url 'password_change' %}">change password</a>
    </p>
</main>
{% endblock content %}
