[Unit]
Description=pulsar
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/pulsar
ExecStart=/var/www/pulsar/.venv/bin/gunicorn -b 127.0.0.1:5000 -w 4 --access-logfile - pulsar.wsgi
ExecReload=/bin/kill -HUP $MAINPID
Environment="DATABASE_URL={{ database_url }}"
Environment="DEBUG={{ debug }}"
Environment="DOMAIN_NAME={{ domain_name }}"
Environment="LOCALDEV={{ localdev }}"
Environment="SECRET_KEY={{ secret_key }}"
Environment="STRIPE_PUBLISHABLE_KEY={{ stripe_publishable_key }}"
Environment="STRIPE_SECRET_KEY={{ stripe_secret_key }}"
Environment="STRIPE_WEBHOOK_SECRET={{ stripe_webhook_secret }}"
Environment="STRIPE_PRICE_ID={{ stripe_price_id }}"
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
